/* footer.css */
footer {
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #082902c4;
    float: center;
    margin-left: 7%;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
  }
  
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .social-icons li {
    margin: 0 5px;
  }
  
  .social-icons a {
    color: white;
  }
  
  .social-icons a:hover {
    color: #082902c4;
  }
  